.connect_region_card_container{
    border: #f5f6fad3 1px solid !important;
    margin-top: 0.7rem;
}

.connect_region_card_header{
    background-color: #f5f6fa !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}